.main-home{
    height: 98vh;
    background-color: #fff;
    display: flex;  
    align-items: start;
    justify-content: start;
    padding-top: 2vh;
    padding-left: 2%;

}

.main-home-container{
    width: 8vw;
    height: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.main-home-container-folder{
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-home-container-folder > img{
    width: 65%;
    cursor: pointer;
}

.main-home-container-folder > img:hover{
    width: 70%;
}

/* .main-home-container-folder-svg{
    width: 100%;
    height: 100%;

    background-image: url('../../Images/folder.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
} */

.main-home-container-title{
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-home-container-title > p{
    font-weight: 800; 
    letter-spacing: 1px;
}